@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ededed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

main {
  @apply max-w-5xl mx-auto py-4 sm:py-8;
}

h1 {
  @apply text-5xl mb-4 px-2 lg:px-0;
}
h2 {
  @apply text-3xl mb-4 px-2 lg:px-0;
}

h3 {
  @apply text-2xl mb-4 px-2 lg:px-0;
}

p {
  @apply px-2 lg:px-0;
}

figcaption {
  @apply text-sm text-gray-600 dark:text-gray-400 mt-2 px-2 lg:px-0;
}
